<div class="container-fluid">
  <div class="row">
    <!--primer parte blanca-->
    <div class="col-md-12" align="center">
      <img alt="Bootstrap Image Preview" src="descarga.png" />
      <div class="row">
        <div class="col-md-12">
          <h3 align="center">
            Dedicados a mejorar la calidad de vida de las personas
          </h3>
        </div>
        <p></p>
      </div>
      <br /><br /><br /><br />
    </div>
  </div>

  <div class="verde row" style="color:white;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h1>
            ¿Qué hacemos?
          </h1>
          <p>
            Mejoramos su calidad de vida mediante una
          </p>
          <p>
            buena nutrición.
          </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <br />
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="verde1.png" />
          </div>
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="verde2.png" />
          </div>
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="verde3.png" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h2>
                Consulta nutricional
              </h2>
              <ul>
                <li> Consulta individual o grupal.</li>
                <li>Evaluación nutricional completa.</li>
                <li>Revisión de suplementos nutricionales.</li>
                <li> Diseño del plan de alimentación, patrón de menú y ejemplos de menú.</li>
                <li>Seguimiento para alcanzar las metas propuestas.</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h2>
                Nutricion Empresarial
              </h2>
              <ul>
                <li> Capacidad de traslado a su empresa.</li>
                <li>Consulta nutricional a colaboradores.</li>
                <li>Posibilidad de que los colaboradores se desplacen a nuestros consultorios Cartago/Pinares.</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h2>
                charlas y talleres
              </h2>
              <ul>
                <li>Educación nutricional.</li>
                <li>Basados en la necesidad del cliente.</li>
                <li>Los temas pueden abarcar conceptos desde nutrición básica hasta específicos de nutrición deportiva</li>
              </ul><br />
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br />
    </div>
  </div>


  <div class="blanca2 row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3>
            Nuestra consulta
          </h3>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="inbody.png" />
        </div>
        <div class="col-md-4">
          <h2>

            InBody 230
          </h2>
          <p>
            Utilizamos InBody 230, el cuál representa la tecnología más avanzada en cuanto al análisis de +
            composición corporal por medio de Bioimpedancia. Es aprobado por la FDA y mantiene una correlación
            de 0.98 con el DEXA (técnica indirecta de análisis de composición corporal) en condiciones ideales de medición.
          </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2>
            Evaluación Antropométrica
          </h2>
          <p>
            Consiste en tomar medidas de peso, talla, perímetros corporales y pliegues de grasa para obetener de una manera precisa la composición corporal y somatotipo de un sujeto.
          </p>
          <p>
            Los datos son analizados por medio de un software especial y las mediciones se realizan usando los parámetros ISAK (International Society for the Advancement of Kinanthropometry).
          </p>
        </div>
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="meso.png" />
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <div class="negra row" style="color:white;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2>
            ¿como lo hacemos?
          </h2>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="negra1.png" />
          </div>
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="negra2.png" />
          </div>
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="negra3.png" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <h2>
                Nutricion
              </h2>
              <p>
                Nos basamos en la experiencia y en estudios científicos sobre la nutrición en general y nutrición deportiva
              </p>
            </div>
            <div class="col-md-4">
              <h2>
                Consulta
              </h2>
              <p>
                Resulta en una sesión educativa muy provechosa sin caer en dietas restrictivas o extremistas.
              </p>
            </div>
            <div class="col-md-4">
              <h2>
                Planes.
              </h2>
              <p>
                Elaborados según las características fisiológicas de cada ser humano, partiendo del hecho de que todos somos diferentes
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2>
            Recetas
          </h2>
          <p>
            Recetas saludables y fáciles de hacer
          </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="receta1.jpg" />
          <h3>Ensalada de Pollo</h3>
        </div>
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="receta2.jpg" />
          <h3>
           huevo fit
          </h3>
        </div>
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="receta3.jpg" />
          <h3>
            enchiladas sin grasa
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="articulos row">
    <div class="col-md-12">
      <div class="verde2 row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2>
            Articulos Nutricionales
          </h2>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FJJ0dAsTg7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zBNkL63HJfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>


  </div>
