<body>
  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label for="emailId">
                Email
              </label>
              <input type="email" id="emailId" class="form-control" placeholder="Enter Email">
            </div>
            <div class="col-md-6">
              <label for="usernameId">
                Username
              </label>
              <input type="text" id="usernameId" class="form-control" placeholder="Enter Username">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="passwordId">
                Password
              </label>
              <input type="password" id="passwordId" class="form-control" placeholder="Enter Password">
            </div>
            <div class="col-md-6">
              <label for="repeatPasswordId">
                Repeat Password
              </label>
              <input type="password" id="repeatPasswordId" class="form-control" placeholder="Enter Password Again">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="nombreId">
                Nombre
              </label>
              <input type="text" id="nombreId" class="form-control" placeholder="Enter Name">
            </div>
            <div class="col-md-4">
              <label for="apellidoPaternoId">
                Apellido Paterno
              </label>
              <input type="text" id="apellidoPaternoId" class="form-control" placeholder="Enter Apellido Paterno">
            </div>
            <div class="col-md-4">
              <label for="apellidoMaternoId">
                Apellido Materno
              </label>
              <input type="text" id="apellidoMaternoId" class="form-control" placeholder="Enter Apellido Materno">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" align="center">
                  <label class="generoLabel">
                    Genero:
                  </label>
                </div>
                <div class="col-md-6">
                  <div class="radio">
                    <label><input type="radio" name="genero">Masculino</label>
                  </div>
                  <div class="radio disabled">
                    <label><input type="radio" name="genero">Femenino</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="fechaNacimientoId">
                FechaNacimiento
              </label>
              <div class="row">
                <div class="col-md-12">
                  <input type="date" id="fechaNacimientoId" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="paisId">
                Pais
              </label>
              <select id="paisId" class="form-control">
                <option selected disabled>Seleccionar Pais</option>
                <option>Mexico</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="estadoId">
                Estado
              </label>
              <select id="estadoId" class="form-control">
                <option selected disabled>Seleccionar Estado</option>
                <option>Aguascalientes</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="municipioId">
                Municipio
              </label>
              <input type="text" id="municipioId" class="form-control" placeholder="Enter Municipio">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="fraccionamientoID">
                Fraccionamiento
              </label>
              <input type="text" id="fraccionamientoID" class="form-control" placeholder="Enter Fraccionamiento">
            </div>
            <div class="col-md-6">
              <label for="calleId">
                Calle
              </label>
              <input type="text" id="calleId" class="form-control" placeholder="Enter Calle">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <label for="numeroExteriorId">
                    Numero Exterior
                  </label>
                  <input type="number" id="numeroExteriorId" class="form-control" placeholder="Enter Numero Exterior">
                </div>
                <div class="col-md-4">
                  <label for="numeroExteriorId">
                    Numero Interior
                  </label>
                  <input type="number" id="numeroExteriorId" class="form-control" placeholder="Enter Numero Interior">
                </div>
                <div class="col-md-4">
                  <label for="numeroExteriorId">
                    C.P.
                  </label>
                  <input type="number" id="cpId" class="form-control" placeholder="Enter C.P.">
                </div>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-success">Registrar</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
              </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

