<body>
  <div class="container-fluid">
    <form role="form" [formGroup]="formGroup" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label for="pesoId">
                Peso
              </label>
              <input type="number" step="0.1" id="pesoId" class="form-control" placeholder="Enter Peso" formControlName="peso">
            </div>
            <div class="col-md-6">
              <label for="alturaId">
                Altura
              </label>
              <input type="number" step="0.1" id="alturaId" class="form-control" placeholder="Enter Altura" formControlName="altura">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="grasaId">
                %Grasa
              </label>
              <input type="number" step="0.1" id="grasaId" class="form-control" placeholder="Enter %Grasa" formControlName="grasa">
            </div>
            <div class="col-md-6">
              <label for="aguaId">
                %Agua
              </label>
              <input type="number" step="0.1" id="aguaId" class="form-control" placeholder="Enter %Agua" formControlName="agua">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="imcId">
                IMC
              </label>
              <input type="number" step="0.1" id="imcId" class="form-control" placeholder="Enter IMC" formControlName="imc">
            </div>
            <div class="col-md-4">
              <label for="kgId">
                Masa En Kg
              </label>
              <input type="number" step="0.1" id="kgId" class="form-control" placeholder="Enter Masa En Kg" formControlName="kg">
            </div>
            <div class="col-md-4">
              <label for="kcalId">
                Kcal
              </label>
              <input type="number" step="0.1" id="kaclId" class="form-control" placeholder="Enter Kcal" formControlName="kacl">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="paisId">
                Meta:
              </label>
              <select id="paisId" class="form-control" formControlName="metas">
                <option value="" selected disabled>Seleccionar Meta</option>
                <option value="1">Bajar De Peso</option>
                <option value="2">Quemar Grasa</option>
                <option value="3">Ganar Musculo </option>
                <option value="4">Mantener</option>
              </select>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <button type="button" class="btn btn-success" (click)="ObtenerDieta()">Obtener Dieta Y Ejercicios</button>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

